<ion-view view-title="Restaurante">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Menu</div>
      <div class="item item-body">
        <div>
       <p> ¡Bienvenidos! </p>

       <pre>

           <P ALIGN=center>

           *Postres* <br>

           Gelatina.........<br>
           Pastel/choco.....<br>
           Chocoflan........<br>
           Pay/queso........<br>
           

       </pre>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
